* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
}

body {
    font-family: 'Open Sans', Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.div-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--blue);
    min-height: 350px;
    height: 50vh;
    width: 100%;
}

header {
    min-width: 400px;
    width: 40%;
    margin: 3%;
    text-align: center;
    color: var(--page-background);
}

header h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 4rem;
    margin: 5% auto 2%;
}

.div-bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--page-background);
}

main {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    gap: 1.25rem;
}

.plan {
    height: 75vh;
    width: 30vw;
    min-height: 550px;
    min-width: 290px;
    margin-top: -100px;
    background-color: var(--page-background);
    border-radius: 10px;
    box-shadow: var(--gray) 1px 1px 3px;
}

.value {
    margin: 7%;
    padding-bottom: 5%;
    border-bottom: 1px solid var(--gray);
}

.value .title {
    font-weight: 700;
    margin-bottom: 7%;
}

.value h2 {
    font-size: 2rem;
    font-weight: 700;
}

.value .description {
    margin-top: 5%;
}

.small {
    font-size: 1rem;
}

.gray-color {
    color: var(--gray);
}

.features {
    height: 38%;
}

.feature-div {
    display: flex;
    margin: 5% 7% 0;
    gap: 5%;
}

.feature-div p {
    font-weight: 700;
}

.sign-plan {
    display: flex;
    justify-content: center;
    height: 10%;
    width: 80%;
    margin: 5% auto 0;
}

.sign-plan button {
    width: 100%;
    font-weight: 700;
    border: 2px solid var(--blue);
    border-radius: 10px;
    color: var(--blue);
    background-color: var(--page-background);
    transition: 0.3s;
}

.sign-plan button:hover {
    transform: scale(0.9);
}


/* POPULAR PLAN */

.popular-plan {
    height: 80vh;
    min-height: 560px;
    min-width: 300px;
    margin-top: -110px;
}

.popular-plan .value {
    margin: 0;
    padding-bottom: 0;
    border: none;
}

.popular-plan .value h2{
    margin: 5% 7%;
}

.popular-plan .value .description {
    margin: 0 7% 7%;
    padding-bottom: 5%;
    border-bottom: 1px solid var(--gray);
}

.popular-div {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: var(--yellow);
    border-radius: 10px 10px 0 0;
    padding: 7% 7% 3%;
}

.popular-div .title {
    font-size: 1.2rem;
    color: var(--blue);
}

.popular-plan .features {
    height: 27%;
    margin-bottom: 45px;
}

.border {
    display: flex;
    justify-content: center;
    height: 35px;
    width: 100px;
    padding: 8px 0;
    font-size: 0.8rem;
    border-radius: 25px;
    background-color: var(--blue);
    color: var(--page-background);
}

.sign-plan .popular-button {
    color: var(--page-background);
    background-color: var(--blue);
}

footer {
    margin: 50px 0 10px;
}
