:root {
    --body-background: #0e0e0e;
    --color-logo: #ff5b50;
    --card-color: #252525;
    --text-color: #fff;
    --subtitle-color: #5a5757;
    --black-text: #000;
    --color-input: #0D0D0D;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-width: 1000px;
    background-color: var(--body-background);
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    scroll-behavior: smooth;
}

span {
    color: var(--color-logo);
}

.top-content {
    background-image: url(./assets/background.png);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 50px 90px;
}

.logo {
    width: 230px;
    height: 35px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    height: 35px;
}

header nav a {
    text-decoration: none;
    color: var(--text-color);
}

header button {
    display: flex;
    align-items: center;
    background-color: var(--text-color);
    gap: 10px;
    width: 175px;
    height: 40px;
    padding: 0 10px;
    transition: 0.2s;
}

header button img {
    width: 25px;
    height: 25px;
}

header button p {
    width: 1fr;
    font-weight: 700;
}

header button:hover {
    opacity: 0.85;
}

header button:active {
    transform: scale(0.97);
}

.top-content main {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
    gap: 15px;
    padding: 0 50px;
}

.about > p {
    width: 385px;
    margin-bottom: 50px;
    font-size: 18px;
}

.about .selected-artists {
    display: flex;
    align-items: flex-end;
    gap: 7px;
}

.selected-artists-text > p {
    margin-bottom: 5px;
}

.discover-more {
    width: 380px;
    line-height: 40px;
}

.gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px 15px;
}

.gallery img {
    width: 21.5%;
    height: 11.5%;
    border: 1px solid #fff;
}

.info {
    display: grid;
    grid-template-rows: 55% 1fr;
    grid-template-columns: 250px 1fr;
    grid-template-areas: 
    "stats text text"
    "stats banner banner";
    height: 600px;
}

.info > .stats {
    grid-area: stats;
    text-align: center;
    height: 100%;
    padding: 140px 0;
    border-right: 1px solid #5A5757;
    border-bottom: 1px solid #5A5757;
}

.stats h2 {
    font-size: 2.5rem;
    font-weight: 500;
}

.stats p {
    color: var(--subtitle-color);
}

.stats p:not(p:last-child) {
    margin-bottom: 30px;
}

.info > .info-text {
    grid-area: text;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.info-text .text-div {
    width: 350px;
}

.text-div p {
    margin-bottom: 50px;
}

.text-div p > a {
    color: var(--color-logo);
}

.text-div > a {
    color: var(--text-color);
}

.info > img {
    grid-area: banner;
    width: 100%;
    height: 100%;
}

.popular {
    padding: 150px 50px;
}

.popular h2 {
    font-size: 2.25rem;
    margin-bottom: 100px;
}

.astronauts {
    display: flex;
    justify-content: space-between;
    height: 640px;
}

.astronauts .left-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 49%;
}

.astronauts .right-div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 50%;
    border-left: 1px solid #5A5757;
}

.astronaut {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 290px;
    width: 345px;
}

.astronaut .text-and-image {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-and-image h3 {
    font-weight: 500;
    font-size: 1.5rem;
}

.text-and-image img {
    height: 23px;
    width: 23px;
}

.astronaut .name-and-value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 10px;
}

.astronaut-name {
    font-weight: 600;
    color: var(--subtitle-color);
}

.astronaut-value {
    font-weight: 500;
    font-size: 20px;
    color: var(--color-logo);
}

.astronaut > img {
    width: 100%;
}

.best-artists {
    display: flex;
    flex-direction: column;
    margin-bottom: 120px;
}

.best-artists > h2 {
    text-align: center;
    font-size: 2.25rem;
    margin-bottom: 100px;
}

.artists > .top-div,
.artists > .bottom-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 50px 50px;
}

.artist {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    width: 290px;
    height: 125px;
    background-color: var(--card-color);
    transition: 0.3s;
}

.artist > img {
    height: 80px;
    width: 80px;
}

.artist-text .name {
    margin-bottom: 10px;
}

.artist-text .value {
    color: var(--color-logo);
}

.artist:hover {
    background-color: var(--color-logo);
    color: var(--text-color);
}

.artist:hover .value {
    color: var(--text-color);
}

.best-artists > a {
    color: var(--text-color);
    text-decoration: none;
    text-align: center;
}

.best-artists > a > img {
    height: 15px;
    width: 30px;
    padding-left: 15px;
}

footer {
    height: 600px;
    display: grid;
    grid-template-rows: 32% 48% 20%;
    grid-template-columns: 450px 1fr;
    grid-template-areas: 
    "head head"
    "news nav"
    "media media";
    background-color: var(--card-color);
}

.rocket-nft {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
    border-bottom: 1px solid var(--subtitle-color);
}

.rocket-nft > .footer-arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 70px;
    background-color: var(--color-logo);
    cursor: pointer;
}

.news {
    grid-area: news;
    padding: 40px 50px 0;
    border-bottom: 1px solid var(--subtitle-color);
    border-right: 1px solid var(--subtitle-color);
}

.news > h3 {
    font-size: 1.7rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.news > form {
    display: flex;
    height: 45px;
    width: 100%;
}

.news > form > input {
    width: 75%;
    background-color: var(--color-input);
    padding: 0 15px;
    font-family: 'Montserrat', sans-serif;
    color: var(--text-color);
    border: none;
}

.news > form > input:focus {
    outline: none;
}

.news > form > button {
    width: 25%;
    background-color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    border: none;
}

.news > form > button:hover {
    opacity: 0.8;
}

.news > form > button:active {
    opacity: 0.7;
}

.footer-nav {
    grid-area: nav;
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid var(--subtitle-color);
}

.footer-nav > .links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    padding: 70px 0;
}

.footer-nav > .links > p {
    font-weight: 700;
}

.footer-nav > .links > a {
    text-decoration: none;
    color: var(--subtitle-color);
}

.media {
    grid-area: media;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px 0;
}

.media > p {
    color: var(--subtitle-color);
}

.media > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 250px;
}

.media > nav > img {
    cursor: pointer;
    height: 30px;
    width: 30px;
}
