* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --body-bg-color: #dce4e3;
    --green: #18c29c;
    --light-green: #8ed7c6;
    --light-grey: #dce4e3;
    --text-color: #084236;
}

body {
    display: flex;
    height: 100vh;
    font-family: 'Poppins', serif;
}

nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--green);
    width: 5vw;
}

.nav-menu { 
    width: 100%;
    margin: 20px 0;
}

.nav-header {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 30px 20px;
}

.vet-logo {
    display: none;
}

.nav-header button {
    background-color: transparent;
    border: none;
}

.nav-item {
    display: flex;
    align-items: center;
    margin: 0 10px 20px;
    padding: 10px;
}

.item-text {
    display: none;
}

.nav-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-green);
    padding: 0 20px 0 10px;
    height: 10vh;
    width: 100%;
}

.user-info {
    display: flex;
    color: var(--text-color);
}

.user-info img {
    display: none;
    width: 40px;
    height: 40px;
    border-radius: 25px;
}

.user-text {
    display: none;
}

.user-info p:first-child {
    font-size: 14px;
}

.user-info p:last-child {
    font-size: 12px;
}

main {
    padding: 25px;
    width: 100%;
    background-color: var(--light-grey);
}

main h1 {
    font-size: 24px;
    color: var(--text-color);
}
