* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --backgrond: #000;
    --text-color: #FFF;
    --button: #8257E5;
    --border: #29292E;
    --border-menu-mobile: #A8A8B3;
    --text-color-menu-mobile: #E1E1E6;
}

body {
    font-family: 'Manrope', serif;
    background-color: var(--backgrond);
}

.blur-1, .blur-2 {
    position: fixed;
    width: 45%;
}

.blur-1 {
    bottom: 0;
    left: 0;
}

.blur-2 {
    top: 0;
    right: 0;
}
