* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --purple-bg: #290742;
    --dark-bg: #170027;
    --button-bg: #9e6dc2;
    --white: #fff;
    --light-purple: #fbf6ff;
    --green: #4fff4b;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.top-div {
    background-color: var(--purple-bg);
    color: var(--light-purple);
    width: 100%;
    height: 70vh;
    min-width: 965px;
    min-height: 420px;
    padding: 20px 80px;
    border-bottom: 4px solid var(--green);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    width: 100%;
}

header .logo {
    margin-top: 5px;
    cursor: pointer;
}

header nav {
    padding: 5px;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    gap: 25px;
}

.menu-items {
    list-style: none;
    padding: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.menu-items:hover {
    font-weight: 700;
    color: var(--white);
    border-left: 2px solid var(--green);
}

.search {
    display: flex;
    height: 80%;
    width: 260px;
}

.search input {
    height: 100%;
    width: 75%;
    padding: 0 25px;
    background-color: var(--dark-bg);
    outline: none;
    border: 1px solid var(--dark-bg);
    border-radius: 5px 0 0 5px;
    color: var(--light-purple);
}

.search input::placeholder {
    color: var(--light-purple);
}


/* ------ LIMPANDO O 'X' DO INPUT DE BUSCA ------ */
.search input::-ms-clear {
    display: none;
    width: 0;
    height: 0; 
}

.search input::-ms-reveal { 
    display: none; 
    width: 0; 
    height: 0; 
}

.search input::-webkit-search-decoration,
.search input::-webkit-search-cancel-button,
.search input::-webkit-search-results-button,
.search input::-webkit-search-results-decoration {
    display: none; 
}
/* ---------------------------------------------- */


.search button {
    height: 100%;
    width: 25%;
    background-color: var(--button-bg);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: 0.3s;
}

.search button:hover {
    opacity: 0.85;
}

.search button img {
    height: 20px;
    width: 20px;
}

.top-content {
    display: flex;
    justify-content: space-between;
    height: 75%;
    margin-top: 30px;
}

.top-content-text {
    display: flex;
    flex-direction: column;
    width: 465px;
    margin-right: 10px;
    gap: 15px;
}

.top-content-text h1 {
    font-size: 36px;
    color: var(--button-bg);
    cursor: pointer;
}

.top-content-text p {
    font-size: 18px;
}

.top-content-text .mais {
    display: flex;
    align-items: center;
    gap: 5px;
}

.top-content-text .mais a {
    text-decoration: none;
    font-weight: 700;
    color: var(--button-bg);
}

.top-content-text .mais img {
    height: 20px;
    width: 20px;
    margin-top: 2px;
}

.top-content-img {
    width: 45%;
}

.bottom-div {
    width: 100%;
    min-width: 965px;
    padding: 50px 80px;
}

.bottom-div h2 {
    color: var(--purple-bg);
    font-size: 24px;
    cursor: pointer;
}

.mid-content {
    display: flex;
    justify-content: space-between;
    color: var(--dark-bg);
    margin-bottom: 65px;
}

.mid-post {
    display: flex;
    flex-direction: column;
    gap: 12.5px;
    width: 47%;
}

.mid-related {
    width: 43%;
}

.mid-related div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.mid-related div:first-child {
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom: 1px solid #F2E7FA;
}

.bottom-content {
    display: flex;
    justify-content: space-between;
}

.bottom-content div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 31.5%;
}

.bottom-content div img {
    width: 100%;
}
