* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 3rem;
    font-weight: bold;
    margin-top: auto;
    background-color: rgb(198, 197, 197);
}
