* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --button: #FF0000;
    --main-background:  #C4C4C4;
    --background: #E5E5E5;
    --text: #000;
    --footer: #000;
    --text-description: #9C9696;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--background);
    color: var(--text);
    height: 100vh;
    width: 100%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.logo {
    height: 50px;
    width: 35px;
    margin: 0 40px;
}

nav .menu {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 700;
    padding: 10px;
    width: 700px;
}

.menu-item {
    list-style: none;
    cursor: pointer;
}

header .search {
    height: 35px;
    width: 200px;
    margin: 5px 0 0 30px;
    border: none;
    border-radius: 5px;
}

header .search::placeholder {
    padding-left: 40px;
    background-image: url('./rshoes-assets/icon-search.svg');
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 12px;
}

.bag-icon {
    height: 30px;
    width: 30px;
    margin: 0 40px;
}

aside {
    height: 450px;
    width: 440px;
    padding: 10px 50px;
}

.product-info {
    height: 430px;
    width: 325px;
}

.product-info h1 {
    font-size: 50px;
}

.product-info p {
    margin-top: 15px;
    color: var(--text-description);
}

.product-info h2 {
    margin-top: 20px;
    font-size: 40px;
}

.product-info button {
    width: 200px;
    height: 50px;
    margin-top: 15px;
    font-weight: 700;
    background-color: var(--button);
    color: var(--background);
    border: none;
}
