* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --text-base: #afb6c2;
    --text-title: #d4ccb6;
    --background: #191816;
    --form-background: #24221f;
    --primary-color: #ffc632;
}

html {
    color: var(--text-base);
}

.container {
    display: flex;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

.login-div {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--background);
    width: 50%;
}

.login-div > img {
    position: absolute;
    top: 30px;
    left: 30px;
}

.login-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--form-background);
    height: 375px;
    width: 475px;
}

.login-title {
    display: flex;
    margin-bottom: 10px;
}

.login-title h2 {
    padding-left: 10px;
}

.login-header {
    margin: 40px 0 20px;
}



.image-div {
    width: 50%;
}

.image-div img {
    height: 100%;
    width: 100%;
}
